td {
vertical-align: bottom;
}


div{
width: 10em;
height: 10em;
text-align: center;
}

.a1 {
 background-color: lemonchiffon;
}

.a2 {
 background-color: #42f5e0;
}

.a3 {
 background-color: rgb(245, 66, 242);
}

.a4 {
 background-color: rgba(245, 66, 242, 0.5);
}

.a5 {
 background-color: hsl(120, 100%, 50%);
}

.a6 {
 background-color: hsla(120, 100%, 50%, 50%);
}

.a7 {
 background: url("https://3.bp.blogspot.com/-_ksEGvwCCRg/Ui5EE_59HII/AAAAAAAAAqs/ZgySYBLf8H8/s1600/Torta+Chiffon.jpg");
 background-size: cover;
}